<h1>Persons</h1>

<dx-data-grid
    [dataSource]="dataSource"
    [remoteOperations]="true"> 
    <dxo-editing 
        [allowAdding]="true" 
        [allowUpdating]="true" 
        [allowDeleting]="true" 
    ></dxo-editing> 

    <dxi-column
        dataField="id"
        dataType="number">
    </dxi-column>

    <dxi-column
        dataField="first_name"
        dataType="string">
    </dxi-column>

    <dxi-column
        dataField="second_name"
        dataType="string">
    </dxi-column>

    <dxi-column
        dataField="last_name"
        dataType="string">
    </dxi-column>

    <dxi-column
        dataField="phone_number"
        dataType="string">
    </dxi-column>

</dx-data-grid>
